---
import Button from "../ui/Button.astro";
import {Image} from "astro:assets";

const { heading = "Klaar voor de klantreis van de toekomst?" } = Astro.props;
---

<section id="cta" class="py-20 sm:py-28">
  <div class="container">
    <div class="bg-gradient-to-b from-primary/40 via-secondary to-secondary/50 border-4 border-secondary/50 rounded-4xl px-6 py-12 sm:px-12" data-aos="custom-zoom-in" data-aos-duration="800" data-aos-once="true">
      <div class="max-w-[800px] mx-auto text-center">
        <h1 class="mb-4">Klaar voor de klantreis van de toekomst?</h1>
        <p class="font-medium mb-10">Vraag vrijblijvend een proefaccount aan en ontdek hoe Insync jouw kantoor ondersteunt.</p>
        <Button href="/demo" size="lg" class="shadow-[0_0_25px_-5px_var(--color-primary)]">Proefaccount aanvragen</Button>
      </div>
    </div>
  </div>
</section>