---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Algemene voorwaarden" description="Bekijk de algemene voorwaarden van Insync. Transparante afspraken over het gebruik van ons platform en onze dienstverlening.">
  <div class="container max-w-[900px]">
    <h1>Algemene voorwaarden</h1>
  </div>
</Layout>