---
import Layout from "../layouts/Layout.astro";
import {Phone, MessageCircle, Mail} from "@lucide/astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout>
  <section id="hero" class="py-16 sm:py-24 2xl:py-42 pb-16 sm:pb-28 overflow-x-clip min-h-[80vh]">
    <div class="container">
      <div class="flex flex-col lg:flex-row items-start gap-12 lg:gap-24">
        <div class="xl:shrink-0">
          <div class="space-y-4 mb-10">
            <h1 class="display max-w-[800px] bg-clip-text text-transparent bg-gradient-to-t from-[#16136C] to-foreground mb-4 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-150">
              Neem contact op
            </h1>
            <p class="sm:text-lg max-w-[640px] mb-10 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-300">
              Heb je vragen of wil je iets bespreken? We helpen je graag verder.</p>
            <p class="sm:text-lg max-w-[640px] mb-10 starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-300">
              Liever een demo plannen?
              <a href="/demo" class="text-primary font-medium hover:underline">Plan een demo</a>
            </p>
          </div>

          <div class="starting:opacity-0 starting:translate-y-2 transition-all duration-500 delay-450">
            <ul class="grid md:grid-cols-3 lg:grid-cols-1 xl:grid-cols-3 gap-4 text-sm">
              <li>
                <a href="tel:0618282389" class="flex items-center">
                  <div class="flex items-center justify-center text-primary border rounded size-12 mr-3 shrink-0">
                    <Phone class="size-6"/>
                  </div>
                  <div>
                    <span class="block text-sm font-medium">Telefoon</span>
                    0618282389
                  </div>
                </a>

              </li>
              <li>
                <a href="https://wa.me/31618282389" class="flex items-center">
                  <div class="flex items-center justify-center text-primary border rounded size-12 mr-3 shrink-0">
                    <MessageCircle class="size-6"/>
                  </div>
                  <div>
                    <span class="block text-sm font-medium">WhatsApp</span>
                    0618282389
                  </div>
                </a>
              </li>
              <li>
                <a href="mailto:hello@insync.insure" class="flex items-center">
                  <div class="flex items-center justify-center text-primary border rounded size-12 mr-3 shrink-0">
                    <Mail class="size-6"/>
                  </div>
                  <div>
                    <span class="block text-sm font-medium">E-mailadres</span>
                    hello@insync.insure
                  </div>
                </a>
              </li>
            </ul>
          </div>

          <!--<div class=mt-auto>-->
          <!--  <h3 class="text-lg font-medium">Volg ons op social media</h3>-->
          <!--  <ul>-->
          <!--    <li></li>-->
          <!--  </ul>-->
          <!--</div>-->
        </div>
        <ContactForm/>
      </div>
    </div>
  </section>
</Layout>