---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Privacybeleid" description="Lees hoe Insync zorgvuldig omgaat met persoonsgegevens, in lijn met de AVG. Volledige transparantie over dataverwerking en beveiliging.">
  <div class="container max-w-[900px]">
    <h1>Privacybeleid</h1>
  </div>
</Layout>